<!DOCTYPE html>
<html lang="en">
<head>
    <script type=text/javascript
            src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $jq = $.noConflict();
    </script>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>