{% extends "layout.html" %}
{% block title %}Add two numbers{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>jQuery Example</h1>
    <p><input type=text size=5 name=a> +
        <input type=text size=5 name=b> =
        <span id=result>?</span>
    <p><a href=# id=calculate>calculate server side</a>
        <script type=text/javascript>
        $jq(function () {
            $jq('a#calculate').bind('click', function () {
                $jq.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                    a: $jq('input[name="a"]').val(),
                    b: $jq('input[name="b"]').val()
                }, function (data) {
                    $jq("#result").text(data.result);
                });
                return false;
            });
        });
    </script>
{% endblock %}
