<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
      <label for="username">Name</label>
    </div>
    <div class="col-sm-pull-7">
      <input id="username" name="username" type="text">
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <label for="passwd">Password</label>
    </div>
    <div class="col-sm-pull-7">
      <input id="passwd" name="passwd" type="password">
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <input type="submit">
    </div>
  </div>
</div>
