[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
"psycopg2-binary" = "*"
django-oauth-toolkit = "*"
requests-oauthlib = "*"
requests = "*"
django-cors-middleware = "*"

[dev-packages]

[requires]
python_version = "3.6"
