<div class="container-fluid">
  <div class="row navbar navbar-inverse">
    <ul class="nav nav-pills">
      <li><a routerLink="home">Go Home</a></li>
      <li><a [routerLink]="['/algo',
                                    {outlets: {
                                      'port': ['algo_list'],
                                      'starboard': ['algo_detail']
                                      }}]">Solve Algorithm</a>/li>
    </ul>
  </div>
  <div class="row"><router-outlet></router-outlet></div>
</div>
